<div>
  @if (photoDetail()) {
    <div class="detail-header">
      <h2>{{ photoDetail().title }}</h2>
      <button mat-raised-button routerLink="/">Back</button>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Show all details</mat-panel-title>
      </mat-expansion-panel-header>

      <p><strong>Date:</strong> {{ photoDetail().date }}</p>
      <p><strong>Explanation:</strong> {{ photoDetail().explanation }}</p>
      <p><strong>Url:</strong> {{ photoDetail().url }}</p>
      <img
        [src]="photoDetail().url"
        [alt]="photoDetail().title"
        style="width: 50%"
      />
    </mat-expansion-panel>
  }
</div>
